{% extends 'base.html' %}

{% block title %}
    Countries
{% endblock %}

{% block og-title %}Countries{% endblock %}
{% block og-description %}Explore the FIFA Men's Rankings of national football teams across the world. Discover where your country stands, and see how teams rank based on performance in international competitions.{% endblock %}
{% block og-url %}{{ request.build_absolute_uri }}{% endblock %}

{% block content %}
    <div class="col-lg-8 m-auto mt-5">
        <p class="text-center fs-2">Countries</p>
        <hr>

        <p class="text-center fs-6 py-3">
            <a href="{% url 'country_list' %}"
               class="text-decoration-none text-dark"
               style="{% if not request.GET.confederation %}font-weight: 500; color: #014a7f !important;{% endif %}">
                ALL
            </a>

            {% for confederation in confederations %}
                <a href="{% url 'country_list' %}?confederation={{ confederation.0 }}"
                   class="ms-2 text-decoration-none text-dark"
                   style="{% if request.GET.confederation == confederation.0 %}font-weight: 500; color: #014a7f !important;{% endif %}">
                    {{ confederation.0 }}
                </a>
            {% endfor %}
        </p>

        <table class="table table-responsive table-striped table-bordered border-dark-subtle table-hover" style="font-size: 0.95rem">
            <thead>
                <tr class="text-center">
                    <td class="text-white py-3" style="background: #014a7f" colspan="2">Country</td>
                    <td class="text-white py-3" style="background: #014a7f">Confederation</td>
                    <td class="text-white py-3" style="background: #014a7f" colspan="3">API ID</td>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr {% if request.user.is_staff %}onclick="location.href='{% url 'country_update' team.country_code %}'" style="cursor: pointer"{% endif %}>
                    <td class="align-middle py-1 col-1 text-end border-end">
                        <img src="{{ team.flag_url }}"
                             alt="{{ team.name }}"
                             class="border border-dark"
                             style="width: 36px; height: 24px">
                    </td>
                    <td class="col-5 align-middle">
                        <span class="ms-2 align-items-center text-dark" style="font-size: 1rem">{{ team.name }}</span>
                    </td>
                    <td class="py-2 text-center col-2 align-middle">
                        {{ team.confederation }}
                    </td>
                    <td class="py-2 text-center col-2 align-middle">
                        {% if team.api_id %}{{ team.api_id }}{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for team in teams %}
        <!-- Modal -->
            <div class="modal fade" id="{{ team.country_code }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header bg-primary-subtle">
                            <img src="{{ team.flag_url }}" alt="{{ team.name }}" class="border border-dark" style="width: 36px; height: 24px">
                            <h1 class="modal-title fs-5 ms-3 fw-normal" id="exampleModalLabel">{{ team.name }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% regroup team.games by competition as games_by_competition %}

                            {% for competition, games in games_by_competition %}
                                <p style="color:  #014a7f">{{ competition }}</p>
                                <table class="table table-striped table-hover" style="font-size: 0.9rem; line-height: 1">
                                    <tbody>
                                    {% for game in games %}
                                        <tr>
                                            <td class="align-middle py-0">
                                                {{ game.date | date:"d-m-Y" }}
                                            </td>
                                            <td class="align-middle"><img class="border border-dark" src="{{ game.home_team.flag_url }}" style="width: 30px"> </td>
                                            <td class="align-middle text-center">
                                                {{ game.home_team.country_code }}<br>
                                                {% if game.home_points_change > 0 %}
                                                    <span class="text-success" style="font-size: 0.8rem">+{{ game.home_points_change | floatformat:2 }}</span>
                                                {% elif game.home_points_change < 0 %}
                                                    <span class="text-danger" style="font-size: 0.8rem">{{ game.home_points_change | floatformat:2 }}</span>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle">
                                                {{ game.home_goals }}
                                                -
                                                {{ game.away_goals }}
                                            </td>
                                            <td class="align-middle text-center">
                                                {{ game.away_team.country_code }}<br>
                                                {% if game.away_points_change > 0 %}
                                                    <span class="text-success" style="font-size: 0.8rem">+{{ game.away_points_change | floatformat:2 }}</span>
                                                {% elif game.away_points_change < 0 %}
                                                    <span class="text-danger" style="font-size: 0.8rem">{{ game.away_points_change | floatformat:2 }}</span>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle"><img class="border border-dark" src="{{ game.away_team.flag_url }}" style="width: 30px"></td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            {% endfor %}
                        {% if not team.games %}
                                            <p class="text-center mb-0">No games</p>
                                    {% endif %}
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}

    <!-- Paginator -->
    <div class="text-center mb-4">
        <a class="btn py-0" href="{% url 'country_list' %}" style="border: 1px solid #014a7f; color: #014a7f; {% if not request.GET.page %}background: #014a7f; color: white;{% endif %}">1</a>
        <a class="btn py-0" href="{% url 'country_list' %}?page=2" style="border: 1px solid #014a7f; color: #014a7f; {% if request.GET.page == '2' %}background: #014a7f; color: white;{% endif %}">2</a>
        <a class="btn py-0" href="{% url 'country_list' %}?page=3" style="border: 1px solid #014a7f; color: #014a7f; {% if request.GET.page == '3' %}background: #014a7f; color: white;{% endif %}">3</a>
    </div>

{% endblock %}