{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Foot Font';
            src: url({% static 'fonts/SofascoreSans-Regular.woff2' %}) format('woff2');
            font-weight: normal;
        }
    </style>
</head>
<body class="container pt-4" style="font-family: 'Foot Font', sans-serif; line-height: 1.1; background: url({% static 'images/img.png' %})">
<nav class="nav fixed-top bg-primary text-white p-3">
    <div class="container">
        FootRank.com
    </div>

</nav>

    <div class="card shadow-sm mt-5 bg-primary-subtle">
        <div class="row p-4 text-center">
            <div class="col">
                <a class="text-decoration-none {% if request.GET.continent %}text-dark{% else %}text-primary{% endif %}"
                   href="{% url 'ranking' %}">
                    {{ team.name }}
                </a>
            </div>
            {% for continent in continents %}
            <div class="col">
                <a class="text-decoration-none {% if request.GET.continent == continent.1 %}text-primary{% else %}text-dark{% endif %}"
                   href="?continent={{ continent.0 }}">
                    {{ continent.1 }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card shadow-sm mt-4">
    <table class="table rounded table-striped">
        <thead class="text-white">
            <tr class="rounded" style="height: 60px">
                <td class="bg-primary align-middle ps-5 text-white">#</td>
                <td class="bg-primary text-white" ></td>
                <td class="bg-primary text-white align-middle" scope="col">
                     <img
                         class="me-2 border border-0 rounded"
                         style="width: 45px;">
                    Country
                </td>
                <td class="bg-primary text-white align-middle" scope="col">Points</td>
                <td class="bg-primary" scope="col"></td>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr style="height: 60px">
                <th class="ps-5 align-middle" scope="row" style="width: 90px">
                    {{ team.current_rank }}
                </th>
                <th class="align-middle" style="width: 100px">
                    {% if team.rank_difference > 0 %}
                        <span class="d-flex align-items-center" style="color: #008000">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="
        M13.4082 5.40158L12.0082 4.00153L12.0011 4.00863L11.9942 4.00172L10.5942 5.40173L10.6011 5.40864L5.70109
        10.3086C5.31448 10.6952 5.31448 11.322 5.70109 11.7087C6.08771 12.0953 6.71454 12.0953 7.10115
        11.7087L11.0014 7.80845L11.0014 18.9988C11.0014 19.5511 11.4491 19.9988 12.0014 19.9988C12.5536 19.9988
        13.0014 19.5511 13.0014 18.9988L13.0014 7.80894L16.9013 11.7089C17.2879 12.0955 17.9148 12.0955 18.3014
        11.7089C18.688 11.3223 18.688 10.6955 18.3014 10.3089L13.4011 5.40868L13.4082 5.40158Z" fill="currentColor">
    </path>
</svg>
                            {{ team.rank_difference }}
                        </span>
                    {% elif team.rank_difference < 0 %}
                        <span class="d-flex align-items-center" style="color: #df1c3c">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="
        M13.4053 18.5987L12.0052 19.9988L11.9981 19.9917L11.9912 19.9986L10.5912 18.5986L10.5981
        18.5917L5.69816 13.6917C5.31155 13.3051 5.31155 12.6783 5.69816 12.2916C6.08478 11.905
        6.71161 11.905 7.09822 12.2916L10.9984 16.1918L10.9984 5.00153C10.9984 4.44924 11.4461
        4.00153 11.9984 4.00153C12.5507 4.00153 12.9984 4.44924 12.9984 5.00153L12.9984 16.1914L16.8984
        12.2914C17.285 11.9048 17.9118 11.9048 18.2984 12.2914C18.685 12.678 18.685 13.3048 18.2984
        13.6914L13.3982 18.5916L13.4053 18.5987Z" fill="currentColor">
    </path>
</svg>
                            {{ team.rank_difference | stringformat:"+d" | slice:"1:" }}
                        </span>
                    {% endif %}
                </th>
                <td class="align-middle">
                    <img src="{{ team.flag_url }}"
                         alt="{{ team.name }}"
                         class="border border-1 border-dark rounded-1 me-2"
                         style="width: 45px; height: 30px"
                         loading="lazy">
                    {{ team.name }}
                </td>
                <td class="align-middle">{{ team.current_points | floatformat:2 }}</td>
                <td style="vertical-align: middle;">
                    {% if team.points_difference > 0 %}
                        <span style="color: #008000">+{{ team.points_difference | floatformat:2 }}</span>
                    {% elif team.points_difference < 0 %}
                        <span class="text-danger">{{ team.points_difference | floatformat:2 }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
  </body>
</html>