{% extends 'base.html' %}

{% block title %}
    Competitions: League Performance
{% endblock %}

{% block og-title %}Competitions: League Performance{% endblock %}
{% block og-description %}League, Round, and Coefficient Overview.{% endblock %}
{% block og-url %}{{ request.build_absolute_uri }}{% endblock %}

{% block content %}
    <div class="col-lg-8 m-auto mt-5">
    <h1 class="text-center fs-3" style="color: #1F51FF">Competitions: League performance</h1>
<h2 class="text-center fw-normal fs-6 text-secondary">League, Round, and Coefficient Overview.</h2>
<hr>
{#    <h3 class="text-center fs-4 mt-4">COMPETITIONS</h3>#}
{#        <hr>#}

        <table class="table table-responsive table-striped table-hover" style="font-size: 0.95rem">
            <thead>
                <tr class="text-center mb-1">
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">League</td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">Round</td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">Coefficient</td>
                </tr>
            </thead>
            <tbody>
                {% for competition in competitions %}
                <tr {% if request.user.is_staff %}onclick="location.href='{% url 'competition_update' competition.id %}'" style="cursor: pointer"{% endif %}>
                    <td class="col-5 align-middle text-center">
                        {{ competition.league }}
                    </td>
                    <td class="py-2 text-center col-2 align-middle">
                        {{ competition.round }}
                    </td>
                    <td class="py-2 text-center col-2 align-middle">
                        {% if competition.coefficient %}{{ competition.coefficient }}{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}