{% extends 'base.html' %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}

{% block title %}
    National Teams: Match Scores
{% endblock %}

{% block meta-desc %}
    Track the latest match results and updated points for each national team.
{% endblock %}

{% block og-title %}National Teams: Match Scores{% endblock %}
{% block og-description %}Track the latest match results and updated points for each national team.{% endblock %}
{% block og-url %}{{ request.build_absolute_uri }}{% endblock %}

{% block content %}
    <div class="col-lg-8 m-auto mt-5">
    <h1 class="text-center fs-3">National Teams: Match Scores </h1>
<h2 class="text-center fw-bolder fs-6 text-secondary">Track the latest match results and updated points for each national team.</h2>
<hr>
    <div class="col-lg-6 m-auto mb-4">
        <select name="period"
                class="form-control text-center form-control-sm py-0"
                style="font-size: 0.95rem; font-weight: 500; border: 1px solid #1F51FF"
                onchange="location.href=`{% url "games" %}?period=${this.value}`">
            {% for per in periods %}
            <option value="{{ per.id }}"
                    {% if request.GET.period == per.id|stringformat:"s" or not request.GET.period and period.id|stringformat:"s" == per.id|stringformat:"s" %}selected="selected"{% endif %}>
                {{ per }}
            </option>
            {% endfor %}
        </select>
        </div>

        {% regroup games by competition as games_by_competition %}
        {% for competition, games in games_by_competition %}
            <p class="pt-3 text-center mb-1" style="color:  #014a7f">{{ competition }}</p>
            <p class="text-center text-opacity-75">{{ games.0.date | date:"M d, Y" }}</p>
            <hr>
            <table class="table table-responsive table-striped table-hover" style="font-size: 0.9rem; line-height: 1">
                <tbody>
                {% for game in games %}
                    <tr>
                        <td class="align-middle py-0 text-center col-2">
                            <span class="text-d">{{ game.date | date:"H:i" }}</span>
                        </td>
                        <td class="align-middle col-1 py-0 ps-2">
                            <img src="{{ game.home_team.flag_url }}"
                                 loading="lazy"
                                 style="border: 1px solid black; border-radius: 3px; object-fit: cover"
                                 width="32px"
                                 height="24px">
                        </td>
                        <td class="align-middle text-start col-3">
                            {{ game.home_team.name }}<br>
                            {% if game.home_points_change > 0 %}
                                <span class="align-items-center small" style="color: green; background: #DDFFDD; border: 1px solid green; border-radius: 20px; padding: 0px 5px;">
                                +{{ game.home_points_change | floatformat:2 }}
                                </span>
                        {% elif game.home_points_change < 0 %}
                                <span class="align-items-center small" style="color: #DB0000; background: #FFEEEE; border: 1px solid #DB0000; border-radius: 20px; padding: 0px 5px;">
                                {{ game.home_points_change | floatformat:2 }}
                            </span>
                        {% endif %}
                        </td>
                        <td class="align-middle text-center col-1">
                            {{ game.home_goals }}
                            -
                            {{ game.away_goals }}
                        </td>
                        <td class="align-middle text-end col-3">
                        {{ game.away_team.name }}<br>
                            {% if game.away_points_change > 0 %}
                                <span class="align-items-center small" style="color: green; background: #DDFFDD; border: 1px solid green; border-radius: 20px; padding: 0px 5px;">
                                +{{ game.away_points_change | floatformat:2 }}
                                </span>
                        {% elif game.away_points_change < 0 %}
                                <span class="align-items-center small" style="color: #DB0000; background: #FFEEEE; border: 1px solid #DB0000; border-radius: 20px; padding: 0px 5px;">
                                {{ game.away_points_change | floatformat:2 }}
                            </span>
                        {% endif %}
                        </td>
                        <td class="align-middle col-1 py-0 pe-2">
                            <img src="{{ game.away_team.flag_url }}"
                                 loading="lazy"
                                 style="border: 1px solid black; border-radius: 3px; object-fit: cover;"
                                 width="32px"
                                 height="24px">
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endfor %}
        {% if not games.past_games %}
            <p class="text-center mb-0">No games</p>
        {% endif %}
    </div>

    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "National Teams: Match Scores",
  "description": "Track the latest match results and updated points for each national team.",
  "itemListElement": [
    {% for game in games %}
    {
      "@type": "SportsEvent",
      "name": "{{ game.home_team.name }} vs {{ game.away_team.name }}",
      "startDate": "{{ game.date|date:'Y-m-d\\TH:i:s' }}",
      "location": {
        "@type": "Place",
        "name": "{{ game.home_team.name }}",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ game.home_team.name }}",
        }
      },
      "competitor": [
        {
          "@type": "SportsTeam",
          "name": "{{ game.home_team.name }}",
          "image": "{{ game.home_team.flag_url }}"
        },
        {
          "@type": "SportsTeam",
          "name": "{{ game.away_team.name }}",
          "image": "{{ game.away_team.flag_url }}"
        }
      ],
      "homeTeam": {
        "@type": "SportsTeam",
        "name": "{{ game.home_team.name }}",
        "potentialAction": {
          "@type": "UpdateAction",
          "target": "+{{ game.home_points_change|floatformat:2 }}"
        }
      },
      "awayTeam": {
        "@type": "SportsTeam",
        "name": "{{ game.away_team.name }}",
        "potentialAction": {
          "@type": "UpdateAction",
          "target": "{{ game.away_points_change|floatformat:2 }}"
        }
      },
      "result": "{{ game.home_goals }}-{{ game.away_goals }}"
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>


{% endblock %}