{% extends 'base.html' %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}

{% block title %}
    Games
{% endblock %}

{% block og-title %}Games{% endblock %}
{% block og-description %}Stay updated with the latest football games that impact the FIFA Men's Rankings. Follow live scores, match results, and upcoming fixtures from international competitions and friendlies.{% endblock %}
{% block og-url %}{{ request.build_absolute_uri }}{% endblock %}

{% block content %}
    <div class="row mt-5">
    <h1 class="text-center fs-3">National Teams: Match Scores </h1>
<h2 class="text-center fw-normal fs-6 text-secondary">Track the latest match results and updated points for each national team.</h2>
<hr>
    <div class="col-lg-6 pe-5 border-end border-dark">

    <p class="text-center fs-5">Past Games</p>
        <hr>
        {% regroup games.past_games by competition as games_by_competition %}
        {% for competition, games in games_by_competition %}
            <p class="pt-3 text-center mb-1" style="color:  #014a7f">{{ competition }}</p>
            <p class="text-center text-opacity-75">{{ games.0.date | date:"M d, Y" }}</p>
            <hr>
            <table class="table table-responsive table-striped table-hover border border-dark-subtle" style="font-size: 0.9rem; line-height: 1">
                <tbody>
                {% for game in games %}
                    <tr>
                        <td class="align-middle py-0 text-center col-2 border-end border-dark-subtle">
                            <span class="text-d">{{ game.date | date:"H:i" }}</span>
                        </td>
                        <td class="align-middle col-1 py-0 ps-2">
                            <img class="border border-dark"
                                 src="{{ game.home_team.flag_url }}"
                                 loading="lazy"
                                 style="width: 33px; height: 22px">
                        </td>
                        <td class="align-middle text-start col-3">
                            {{ game.home_team.name }}<br>
                            {% if game.home_points_change > 0 %}
                                <span class="text-success" style="font-size: 0.8rem">+{{ game.home_points_change | floatformat:2 }}</span>
                            {% elif game.home_points_change < 0 %}
                                <span class="text-danger" style="font-size: 0.8rem">{{ game.home_points_change | floatformat:2 }}</span>
                            {% endif %}
                        </td>
                        <td class="align-middle text-center col-1">
                            {{ game.home_goals }}
                            -
                            {{ game.away_goals }}
                        </td>
                        <td class="align-middle text-end col-3">
                            {{ game.away_team.name }}<br>
                            {% if game.away_points_change > 0 %}
                                <span class="text-success" style="font-size: 0.8rem">+{{ game.away_points_change | floatformat:2 }}</span>
                            {% elif game.away_points_change < 0 %}
                                <span class="text-danger" style="font-size: 0.8rem">{{ game.away_points_change | floatformat:2 }}</span>
                            {% endif %}
                        </td>
                        <td class="align-middle col-1 py-0 pe-2">
                            <img class="border border-dark"
                                 src="{{ game.away_team.flag_url }}"
                                 loading="lazy"
                                 style="width: 33px; height: 22px">
                        </td>
                    {% if request.user.is_staff %}
                        <td class="align-middle col-3">
                        <a class="text-decoration-none text-success" href="{% url 'calculate_games' game.id %}">Calculate</a> /
                        <a class="text-decoration-none text-danger" href="{% url 'delete_game' game.id %}">Delete</a>
                    </td>
                    {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endfor %}
        {% if not games.past_games %}
            <p class="text-center mb-0">No games</p>
        {% endif %}
    </div>
        <div class="col-lg-6 ps-5">
    <p class="text-center fs-5">Fixtures</p>
        <hr>
        {% regroup games.fixtures by competition as games_by_competition %}
        {% for competition, games in games_by_competition %}
            <p class="pt-3 text-center mb-1" style="color:  #014a7f">{{ competition }}</p>
            <p class="text-center text-opacity-75">{{ games.0.date | date:"M d, Y" }}</p>
            <hr>
            <table class="table table-responsive table-striped table-hover border border-dark-subtle" style="font-size: 0.9rem; line-height: 1">
                <tbody>
                {% for game in games %}
                    <tr>
                        <td class="align-middle py-0 text-center col-2 border-end border-dark-subtle">
                            <span class="text-d">{{ game.date | date:"H:i" }}</span>
                        </td>
                        <td class="align-middle col-1 py-0 ps-2">
                            <img class="border border-dark"
                                 src="{{ game.home_team.flag_url }}"
                                 loading="lazy"
                                 style="width: 33px; height: 22px">
                        </td>
                        <td class="align-middle text-start col-3">
                            {{ game.home_team.name }}<br>
                            {% if game.home_points_change > 0 %}
                                <span class="text-success" style="font-size: 0.8rem">+{{ game.home_points_change | floatformat:2 }}</span>
                            {% elif game.home_points_change < 0 %}
                                <span class="text-danger" style="font-size: 0.8rem">{{ game.home_points_change | floatformat:2 }}</span>
                            {% endif %}
                        </td>
                        <td class="align-middle text-center col-1">
                            {{ game.home_goals }}
                            -
                            {{ game.away_goals }}
                        </td>
                        <td class="align-middle text-end col-3">
                            {{ game.away_team.name }}<br>
                            {% if game.away_points_change > 0 %}
                                <span class="text-success" style="font-size: 0.8rem">+{{ game.away_points_change | floatformat:2 }}</span>
                            {% elif game.away_points_change < 0 %}
                                <span class="text-danger" style="font-size: 0.8rem">{{ game.away_points_change | floatformat:2 }}</span>
                            {% endif %}
                        </td>
                        <td class="align-middle col-1 py-0 pe-2">
                            <img class="border border-dark"
                                 src="{{ game.away_team.flag_url }}"
                                 loading="lazy"
                                 style="width: 33px; height: 22px">
                        </td>
                    {% if request.user.is_staff %}
                        <td class="align-middle col-3">
                        <a class="text-decoration-none text-success" href="{% url 'calculate_games' game.id %}">Calculate</a> /
                        <a class="text-decoration-none text-danger" href="{% url 'delete_game' game.id %}">Delete</a>
                    </td>
                    {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endfor %}
        {% if not games.fixtures %}
            <p class="text-center mb-0">No fixtures</p>
        {% endif %}
        </div>
    </div>
{% endblock %}