{% extends 'base.html' %}
{% load cache %}

{% block title %}
    FIFA Rankings Statistics: Top Movers and Points Changes
{% endblock %}

{% block meta-desc %}
    Top Movers, Fallers, and Points Changes in FIFA Rankings
{% endblock %}

{% block og-title %}Statistics: Ranking and Points Movements{% endblock %}
{% block og-description %}Top Movers, Fallers, and Points Changes in FIFA Rankings{% endblock %}
{% block og-url %}{{ request.build_absolute_uri }}{% endblock %}

{% block content %}
    <div class="col-lg-8 m-auto mt-5">
        <h1 class="text-center fs-3"  style="color: #1F51FF">
            Ranking Statistics: Top Movers, Fallers & Points Adjustments
        </h1>
        <h2 class="text-center fw-normal fs-6">Top Movers, Fallers, and Points Changes in FIFA Rankings</h2>
        <hr>
    <select name="period"
                class="form-control text-center form-control-sm py-0"
                style="font-size: 0.95rem; font-weight: 400; border: 1px solid black"
                onchange="location.href=`{% url "ranking" %}?period=${this.value}`">
            {% for per in periods %}
            <option value="{{ per.id }}"
                    {% if request.GET.period == per.id|stringformat:"s" or not request.GET.period and period.id|stringformat:"s" == per.id|stringformat:"s" %}selected="selected"{% endif %}>
                {{ per }}
            </option>
            {% endfor %}
        </select>

    <h3 class="text-center fs-4 mt-4">TOP MOVERS</h3>
        <hr>

        {% cache 500 top_mover %}
        <table class="table table-responsive table-hover table-striped">
            <thead>
                <tr class="text-center mb-1">
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">#</td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                    <td class="align-middle text-white py-2 ps-3 text-start" style="background: #1F51FF; border: 1px solid #1F51FF">Country</td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">Points</td>
                    <td class="align-middle text-white py-2 text-start" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                </tr>
            </thead>
            <tbody>
                {% for ranking in top_movers %}
                <tr>
                    <td class="col-1 text-center pe-0 align-middle small">
                        {% if ranking.rank_difference > 0 %}
                                <span class="align-items-center" style="color: green; background: #DDFFDD; border: 1px solid green; border-radius: 20px; padding: 2px 5px;">
                                    {{ ranking.rank_difference }}🡩
                                </span>
                        {% elif ranking.rank_difference < 0 %}
                                <span class="align-items-center" style="color: #DB0000; background: #FFEEEE; border: 1px solid #DB0000; border-radius: 20px; padding: 2px 5px;">
                                    {{ ranking.rank_difference | stringformat:"d" | slice:"1:" }}🡫
                                </span>
                        {% endif %}
                    </td>
                    <td class="text-center align-middle col-1 py-0 ps-3">
                        <span style="display: block; font-weight: 500; width: 40px !important; padding: 3px 5px">
                            {{ ranking.current_rank }}
                        </span>
                    </td>
                    <td class="align-middle py-1 col-1 text-end">
                        <img src="{{ ranking.ranking.flag_url }}"
                             alt="{{ ranking.ranking.name }}"
                             style="border: 1px solid black; background: #c5aa6a; border-radius: 3px; object-fit: cover; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;"
                             width="36px"
                             height="24px"
                             loading="lazy">
                    </td>
                    <td class="col-5 align-middle">
                        <span class="ms-2 align-items-center text-dark" style="font-size: 0.98rem">
                            {{ ranking.ranking.name }}
                        </span>
                    </td>
                    <td class="py-1 text-center col-2 align-middle"
                        style="font-size: 0.95rem; {% if ranking.points_difference != 0 %}font-weight: 400;{% endif %}">
                        {{ ranking.current_points | floatformat:2 }}
                    </td>
                    <td class="py-1 col-2 align-middle small">
                        {% if ranking.points_difference > 0 %}
                                <span class="align-items-center" style="color: green; background: #DDFFDD; border: 1px solid green; border-radius: 20px; padding: 2px 5px;">
                                +{{ ranking.points_difference | floatformat:2 }}
                                </span>
                        {% elif ranking.points_difference < 0 %}
                                <span class="align-items-center" style="color: #DB0000; background: #FFEEEE; border: 1px solid #DB0000; border-radius: 20px; padding: 2px 5px;">
                                {{ ranking.points_difference | floatformat:2 }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endcache %}

    <h3 class="text-center fs-4 mt-4">TOP POINTS MOVERS</h3>
        <hr>

        {% cache 500 top_points_mover %}
        <table class="table table-responsive table-hover table-striped">
            <thead>
                <tr class="text-center mb-1">
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">#</td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                    <td class="align-middle text-white py-2 ps-3 text-start" style="background: #1F51FF; border: 1px solid #1F51FF">Country</td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">Points</td>
                    <td class="align-middle text-white py-2 text-start" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                </tr>
            </thead>
            <tbody>
                {% for ranking in top_points_movers %}
                <tr>
                    <td class="col-1 text-center pe-0 align-middle small">
                        {% if ranking.rank_difference > 0 %}
                                <span class="align-items-center" style="color: green; background: #DDFFDD; border: 1px solid green; border-radius: 20px; padding: 2px 5px;">
                                    {{ ranking.rank_difference }}🡩
                                </span>
                        {% elif ranking.rank_difference < 0 %}
                                <span class="align-items-center" style="color: #DB0000; background: #FFEEEE; border: 1px solid #DB0000; border-radius: 20px; padding: 2px 5px;">
                                    {{ ranking.rank_difference | stringformat:"d" | slice:"1:" }}🡫
                                </span>
                        {% endif %}
                    </td>
                    <td class="text-center align-middle col-1 py-0 ps-3">
                        <span style="display: block; font-weight: 500; width: 40px !important; padding: 3px 5px">
                            {{ ranking.current_rank }}
                        </span>
                    </td>
                    <td class="align-middle py-1 col-1 text-end">
                        <img src="{{ ranking.ranking.flag_url }}"
                             alt="{{ ranking.ranking.name }}"
                             style="border: 1px solid black; background: #c5aa6a; border-radius: 3px; object-fit: cover; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;"
                             width="36px"
                             height="24px"
                             loading="lazy">
                    </td>
                    <td class="col-5 align-middle">
                        <span class="ms-2 align-items-center text-dark" style="font-size: 0.98rem">
                            {{ ranking.ranking.name }}
                        </span>
                    </td>
                    <td class="py-1 text-center col-2 align-middle"
                        style="font-size: 0.95rem; {% if ranking.points_difference != 0 %}font-weight: 400;{% endif %}">
                        {{ ranking.current_points | floatformat:2 }}
                    </td>
                    <td class="py-1 col-2 align-middle small">
                        {% if ranking.points_difference > 0 %}
                                <span class="align-items-center" style="color: green; background: #DDFFDD; border: 1px solid green; border-radius: 20px; padding: 2px 5px;">
                                +{{ ranking.points_difference | floatformat:2 }}
                                </span>
                        {% elif ranking.points_difference < 0 %}
                                <span class="align-items-center" style="color: #DB0000; background: #FFEEEE; border: 1px solid #DB0000; border-radius: 20px; padding: 2px 5px;">
                                {{ ranking.points_difference | floatformat:2 }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endcache %}

    <h3 class="text-center fs-4 mt-5">TOP FALLERS</h3>
        <hr>
    {% cache 500 top_faller %}
    <table class="table table-responsive table-hover table-striped">
            <thead>
                <tr class="text-center mb-1">
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">#</td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                    <td class="align-middle text-white py-2 ps-3 text-start" style="background: #1F51FF; border: 1px solid #1F51FF">Country</td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">Points</td>
                    <td class="align-middle text-white py-2 text-start" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                </tr>
            </thead>
            <tbody>
                {% for ranking in top_fallers  %}
                <tr>
                    <td class="col-1 text-center pe-0 align-middle small">
                        {% if ranking.rank_difference > 0 %}
                                <span class="align-items-center" style="color: green; background: #DDFFDD; border: 1px solid green; border-radius: 20px; padding: 2px 5px;">
                                    {{ ranking.rank_difference }}🡩
                                </span>
                        {% elif ranking.rank_difference < 0 %}
                                <span class="align-items-center" style="color: #DB0000; background: #FFEEEE; border: 1px solid #DB0000; border-radius: 20px; padding: 2px 5px;">
                                    {{ ranking.rank_difference | stringformat:"d" | slice:"1:" }}🡫
                                </span>
                        {% endif %}
                    </td>
                    <td class="text-center align-middle col-1 py-0 ps-3">
                        <span style="display: block; font-weight: 500; width: 40px !important; padding: 3px 5px">
                            {{ ranking.current_rank }}
                        </span>
                    </td>
                    <td class="align-middle py-1 col-1 text-end">
                        <img src="{{ ranking.flag_url }}"
                             alt="{{ ranking.name }}"
                             style="border: 1px solid black; background: #c5aa6a; border-radius: 3px; object-fit: cover; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;"
                             width="36px"
                             height="24px"
                             loading="lazy">
                    </td>
                    <td class="col-5 align-middle">
                        <span class="ms-2 align-items-center text-dark" style="font-size: 0.98rem">
                            {{ ranking.name }}
                        </span>
                    </td>
                    <td class="py-1 text-center col-2 align-middle"
                        style="font-size: 0.95rem; {% if ranking.points_difference != 0 %}font-weight: 400;{% endif %}">
                        {{ ranking.current_points | floatformat:2 }}
                    </td>
                    <td class="py-1 col-2 align-middle small">
                        {% if ranking.points_difference > 0 %}
                                <span class="align-items-center" style="color: green; background: #DDFFDD; border: 1px solid green; border-radius: 20px; padding: 2px 5px;">
                                +{{ ranking.points_difference | floatformat:2 }}
                                </span>
                        {% elif ranking.points_difference < 0 %}
                                <span class="align-items-center" style="color: #DB0000; background: #FFEEEE; border: 1px solid #DB0000; border-radius: 20px; padding: 2px 5px;">
                                {{ ranking.points_difference | floatformat:2 }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcache %}

    <h3 class="text-center fs-4 mt-5">TOP POINTS FALLERS</h3>
        <hr>
    {% cache 500 top_points_faller %}
    <table class="table table-responsive table-hover table-striped">
            <thead>
                <tr class="text-center mb-1">
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">#</td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                    <td class="align-middle text-white py-2 ps-3 text-start" style="background: #1F51FF; border: 1px solid #1F51FF">Country</td>
                    <td class="align-middle text-white py-2" style="background: #1F51FF; border: 1px solid #1F51FF">Points</td>
                    <td class="align-middle text-white py-2 text-start" style="background: #1F51FF; border: 1px solid #1F51FF"></td>
                </tr>
            </thead>
            <tbody>
                {% for ranking in top_points_fallers  %}
                <tr>
                    <td class="col-1 text-center pe-0 align-middle small">
                        {% if ranking.rank_difference > 0 %}
                                <span class="align-items-center" style="color: green; background: #DDFFDD; border: 1px solid green; border-radius: 20px; padding: 2px 5px;">
                                    {{ ranking.rank_difference }}🡩
                                </span>
                        {% elif ranking.rank_difference < 0 %}
                                <span class="align-items-center" style="color: #DB0000; background: #FFEEEE; border: 1px solid #DB0000; border-radius: 20px; padding: 2px 5px;">
                                    {{ ranking.rank_difference | stringformat:"d" | slice:"1:" }}🡫
                                </span>
                        {% endif %}
                    </td>
                    <td class="text-center align-middle col-1 py-0 ps-3">
                        <span style="display: block; font-weight: 500; width: 40px !important; padding: 3px 5px">
                            {{ ranking.current_rank }}
                        </span>
                    </td>
                    <td class="align-middle py-1 col-1 text-end">
                        <img src="{{ ranking.flag_url }}"
                             alt="{{ ranking.name }}"
                             style="border: 1px solid black; background: #c5aa6a; border-radius: 3px; object-fit: cover; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;"
                             width="36px"
                             height="24px"
                             loading="lazy">
                    </td>
                    <td class="col-5 align-middle">
                        <span class="ms-2 align-items-center text-dark" style="font-size: 0.98rem">
                            {{ ranking.name }}
                        </span>
                    </td>
                    <td class="py-1 text-center col-2 align-middle"
                        style="font-size: 0.95rem; {% if ranking.points_difference != 0 %}font-weight: 400;{% endif %}">
                        {{ ranking.current_points | floatformat:2 }}
                    </td>
                    <td class="py-1 col-2 align-middle small">
                        {% if ranking.points_difference > 0 %}
                                <span class="align-items-center" style="color: green; background: #DDFFDD; border: 1px solid green; border-radius: 20px; padding: 2px 5px;">
                                +{{ ranking.points_difference | floatformat:2 }}
                                </span>
                        {% elif ranking.points_difference < 0 %}
                                <span class="align-items-center" style="color: #DB0000; background: #FFEEEE; border: 1px solid #DB0000; border-radius: 20px; padding: 2px 5px;">
                                {{ ranking.points_difference | floatformat:2 }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcache %}
    </div>

{% endblock %}
