{% extends 'base.html' %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}

{% block title %}
    {{ form.instance.name }} - Update
{% endblock %}

{% block og-title %}{{ form.instance.name }} - Update{% endblock %}
{% block og-description %}{{ form.instance.name }} - Update{% endblock %}
{% block og-url %}{{ request.build_absolute_uri }}{% endblock %}

{% block content %}
    <div class="col-lg-6 mt-5">
        <img id="img_preview" src="{{ team.flag_url }}" alt="{{ team.name }}" class="border border-dark" style="width: 42px; height: 28px">
        <span class="modal-title fs-5 ms-3 fw-normal align-middle" id="name_preview">{{ team.name }}</span>
        <hr>
        {{ form.error_messages }}
    <form class="mt-3" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.name | as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.confederation | as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.api_id | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form.flag_url | as_crispy_field }}
            </div>
        </div>
        <button class="btn text-white py-1 mt-3" style="background: #014a7f" type="submit">Update</button>
        <a class="btn btn-outline-dark py-1 mt-3" href="{% url 'country_list' %}">Cancel</a>
    </form>
    </div>

    <script>
        document.getElementsByName('name')[0].addEventListener('input', function() {
            document.getElementById("name_preview").innerHTML = this.value;
        });
        document.getElementsByName('flag_url')[0].addEventListener('input', function() {
            document.getElementById("img_preview")['src'] = this.value;
        });
    </script>
{% endblock %}